.innerPopularDestination2BestDealinCitymainDiv{
    /* border: 2px solid red; */
    width: 90%;
    height: 600px;
    margin: auto;
}
.innerPopularDestination2BestDealinCityheading{
    /* border: 2px solid green; */
    width:100%;
    height: 60px;
    background-color: #F3F7FA;
    padding-top: 5px;
    font-size: 30px;
    font-weight: 700px;
    color: #393939;
}
.innerPopularDestination2BestDealinCityconatiner{
    /* border: 2px solid yellow; */
    width: 100%;
    height: 540px;
    display: flex;
    flex-direction: row;
}
.innerPopularDestination2BestDealinCityslider{
    /* border: 2px solid greenyellow; */
    width: 70%;
    height: 540px;
}
.innerPopularDestination2BestDealinCityPayment{
    border: 2px solid brown;
    width: 25%;
    height: 540px;
    margin-left: 3%;
}