.newDomesticCruisecontainer{
  /* border: 1px solid red; */
  width: 100%;
  margin: auto;
  background-color: #3380f2;
  height: 520px;
}

.newDomesticCruiseHeadingContainer{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
}

.newDomesticCruiseHeadingContainer h2{
  font-size: 30px;
  font-weight: 700;
  margin-top: 3%;
  margin-left: 1%;
  margin-bottom: 2%;
  width:65%;
  color: white !important;
}


/* .clientstestimonial_title {
  font-size: 27px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 4%;
  margin-bottom: 3%;
  text-decoration: none solid rgb(45,44,44);
  vertical-align: baseline;
  letter-spacing: normal;
  text-align: center;
  color: rgb(51,128,242);
} */


/* .newDomesticCruisewrapper {
  position: relative;
  width: 100%;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} */


/* .newMultisection_DomesticCruiseimage {
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
} */

/* 
.newDomesticCruisecardImage {
  top: 0;
  left: 0;
  width: 100%;
  height: 400px !important;
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.newDomesticCruisecardImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
} */

/* .newMultisection_DomesticCruiseimage:hover img {
  opacity: 0.4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.newMultisection_DomesticCruiseimage:hover .newDomesticCruisecardImage {
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
} */

/* .newWorldDomesticCruisedetails {
  position: absolute;
  bottom: -62%;
  left: 0;
  background: #3380f2;
  width: 100%;
  height: 220px;
  z-index: 100000000;
  padding: 10px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
 */
/* .newWorldDomesticCruisedetails h2 {
  margin: 30px 0;
  padding: 0;
  text-align: center;
  color: white;
}
 */
/* .newWorldDomesticCruisedetails h2 .job-title {
  font-size: 16px;
  line-height: 2;
  color: white;
  font-weight: 300;
  display: block;
}

.card:hover .newWorldDomesticCruisedetails {
  bottom: 0;
} */

.carousel .slick-dots {
  bottom: -2.5vw;
}

.carousel .slick-dots li button {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 20px;
}

/* .carousel .slick-dots li button:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  content: "";
  text-align: center;
  opacity: 0.5;
  color: #000;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
} */



.carousel .slick-prev,
.carousel .slick-next {
  width: 50px;
  height: 50px;
  background-color: #fff;
}

.carousel .slick-prev:hover,
.carousel .slick-prev:focus,
.carousel .slick-next:hover,
.carousel .slick-next:focus {
  color: #fff;
  outline: none;
  background: #fff;
}

/* .carousel .slick-prev:before,
.carousel .slick-next:before {
  color: #000;
  font-family: "Raleway", sans-serif;
} */

.carousel .slick-next {
  right: -55px;
}

.carousel .slick-prev {
  left: -55px;
}


/* .clientstestimonial_title {
  font-size: 27px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 4%;
  margin-bottom: 3%;
  text-decoration: none solid rgb(45,44,44);
  vertical-align: baseline;
  letter-spacing: normal;
  text-align: center;
  color: rgb(51,128,242);
} */



/* .newMultisection_DomesticCruiseimage {
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
 */
/* .newDomesticCruisecardImage {
  top: 0;
  left: 0;
  width: 100%;
  height: 450px;
  z-index: 2;
  background-color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
 */
/* .newDomesticCruisecardImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.newMultisection_DomesticCruiseimage:hover img {
  opacity: 0.4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.newMultisection_DomesticCruiseimage:hover .newDomesticCruisecardImage {
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
} */

/* .newWorldDomesticCruisedetails {
  position: absolute;
  bottom: -50%;
  left: 0;
  background: #3380f2;
  width: 100%;
  height: 213px;
  z-index: 100000000;
  padding: 10px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.newWorldDomesticCruisedetails h2 {
  margin: 30px 0;
  padding: 0;
  text-align: center;
  color: white;
}

.newWorldDomesticCruisedetails h2 .job-title {
  font-size: 16px;
  line-height: 2;
  color: white;
  font-weight: 300;
  display: block;
}

.card:hover .newWorldDomesticCruisedetails {
  bottom: 0;
} */

.carousel .slick-dots {
  bottom: -2.5vw;
}

.carousel .slick-dots li button {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 20px;
}

/* .carousel .slick-dots li button:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  content: "";
  text-align: center;
  opacity: 0.5;
  color: #000;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
} */



.carousel .slick-prev,
.carousel .slick-next {
  width: 50px;
  height: 50px;
  background-color: #fff;
}

.carousel .slick-prev:hover,
.carousel .slick-prev:focus,
.carousel .slick-next:hover,
.carousel .slick-next:focus {
  color: #fff;
  outline: none;
  background: #fff;
}

/* .carousel .slick-prev:before,
.carousel .slick-next:before {
  color: #000;
  font-family: "Raleway", sans-serif;
} */

.carousel .slick-next {
  right: -55px;
}

.carousel .slick-prev {
  left: -55px;
}
  

.newDomesticCruisewrapper {
  position: relative;
  width: 106%;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.newMultisection_DomesticCruiseimage {
margin-left: 1%;
width: 95%;
height: 350px;
/* border: 2px solid red; */
border-radius: 20px !important;
overflow: hidden;
cursor: pointer;
position: relative;
background: #3380F2;
border: none !important;
}
.newMultisection_DomesticCruiseimage:hover img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.newMultisection_DomesticCruiseimage:hover .newDomesticCruisecardImage {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.newDomesticCruisecardImage {
  top: 0;
  left: 0;
  width: 100%;
  height: 360px !important;
  border-radius: 20px !important;
  z-index: 2;
  background-color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.newDomesticCruisecardImage img {
  width: 100%;
  filter: brightness(0.8);
  -o-object-fit: cover;
  object-fit: cover;
}
.newMultisection_DomesticCruiseimage:hover .newDomesticCruisecardImage {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.newWorldDomesticCruisedetails {
  position: absolute;
  bottom: -38%;
  left: 0;
  width: 100%;
  height: 310px;
  z-index: 100000000;
  padding: 10px;
  /* -webkit-transition: 0.6s; */
  /* transition: 0.6s; */
  line-height: 15px;
}

.newWorldDomesticCruisedetails h5 {
  margin: 0px 0;
  padding: 0;
  text-align: center;
  color: white;
  font-size: 22px;
  font-weight: 700;
}

.newWorldDomesticCruisedetails h5 .job-title {
  font-size: 13.5px;
  line-height: 1.5;
  color: white;
  font-weight: 300;
  display: block;
  /* border: 2px solid red; */
}

/* .card:hover .newWorldDomesticCruisedetails {
  bottom: 0;
} */

/* ----------------- view all deals button css ----------------  */


.newDomesticCruisedealsbutton {
  /* width: 10%; */
  margin-left: 20%;
  margin-top: 3%;
  display: flex;
  padding-top: 5px;
  /* border: 2px solid red; */
  border-radius:8px;
  flex-direction: row;
  border-right: none;
  height: 40px;
  color: White;
  text-decoration: underline;
  font-weight: 700;
  /* border: 2px solid green; */
}
.newDomesticCruisedealsbutton:hover{
  background-color: white;
  color: #3380F2;
}