.bannerdiv{
    height: 450px;
}

.maincarddiv{
    margin-left: 0%;
    height: 450px;
    width: 100%;
    border: none;
}

.maincarddiv img{
    margin-left: 0%;
    height: 456px;
    width: 100%;
}

.banner_text{
    margin-left: 0%;
    margin-top: 15%;
}



/* This Css section is for the services section in the Offers page banner */

/* .services {
    width: 90%;
    margin: auto;
    display: flex;
    height: 103px;
    justify-content: center;
    top: 15%;
    position: absolute;

    left: 5%;
  }
  
  
  .services div {
    width: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    background-color: white;
    z-index: 2;
  }
  .services div:hover {
    background-color: rgb(115, 100, 237);
    background-color: #3380f2;
  }
  .services div img {
    height: 23px;
    width: 33px;
    margin-bottom: 16px;
    filter: invert(1.6);
  }
  .services div:nth-child(1) {
    border-top-left-radius: 125px;
    width: 18%;
  }
  .services div:nth-child(2) {
    width: 17%;
  }
  .services div:nth-child(6) {
    border-top-right-radius: 125px;
    width: 17%;
  }
   */