/* This is a new css file */
/* .exclusivedealmaincontainer{
  border: 1px solid red ;
  display: flex !important;
  flex-direction: row !important;
  width: 100%;
} */

.exclusivecruisemaindivslider{
  /* border: 1px solid red; */
  width: 91%;
  margin: auto;
  margin-top: 1%;
}

.exclusivecruisemaindiv {
    /* border: 1px solid red; */
    width: 100%;
  }
  
  .exclusivecruiseouterdivtop {
    /* border: 2px solid red !important; */
    border: 2px solid lightgray;
    /* display: flex !important; */
    /* flex-direction: row !important; */
    width: 95% !important;
    margin-top: 4%;
    box-shadow: 4px 4px 4px rgb(211,211,211);
    border: none;
    transition: all 300ms ease-in-out;
  }
  
  .exclusivecruiseouterdivtop:hover {
    width: 100%;
    padding: 5px;
    box-shadow: 5px 10px 25px  #3380f2;
  }
  
  .exclusivecruiseheadingcontainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* margin: auto; */
    background-color: #3380f2 !important;
    /* margin-top: 1%; */
    height: 80px;
    /* border: 1px solid black !important; */
  }
  
  .exclusivecruiseheading1 {
    /* border: 1px solid black; */
    font-size: 26px;
    font-weight: 700;
    width: 30%;
    margin-left: 5%;
    margin-top: 1.5%;
   color: white;
  }
  
  .exclusivecruiseheading2 {
    /* border: 3px solid white; */
    width: 60%;
    height: 40px;
    justify-content: center;
    margin: -0.6% 0 1% 1%;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    /* padding: 0px 0px; */
  }
  .exclusiveheading {
    border-radius: 50px;
  }
  
  .exclusivecruiseheading2 div {
    /* border: 3px solid rgb(51, 128, 242); */
    border: 2px solid white;
    width: 16% !important;
    height: 38px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-top: 5%;
    margin-right: 4%;
    padding-top: 4px;
    border-radius: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: white;
  }
  
  .exclusivecruiseheading2 div:hover {
    background-color: white;
    color: #3380f2;
  }

  .viewallexclusivecruisebuttons {
    color: white;
    /* text-decoration: underline; */
    /* border: 3px solid white; */
    border-radius: 20px;
    display: flex;
    margin: 0.8% 6% 1% 13%;
    width: 29%;
  }

  .viewallexclusivecruisetext{
    /* border: 1px solid red; */
    border: 2px solid white;
    height: 38px;
    font-size: 15px;
    font-weight: 700;
    width: 42%;
    text-decoration: none !important;
    border-radius: 25px !important;
    margin-left: 23%;
    margin-top: 2%;
    padding-left: 16px;
    padding-top: 1.8%;
  }

  .viewallexclusivecruisetext:hover{
    background-color: white;
    color: #3380f2;
  }
  
  .exclusivecruisecardtitle {
    color: #3380f2 !important;
    font-size: 21px;
    margin-top: 1%;
  }
  
  .exclusivecruisecard_desc {
    /* border: 1px solid red; */
    width: 90%;
    color: #3380f2;
    font-size: 13px;
  }
  
  .exclusivecruiseimagetextcontainer {
    width: 100%;
    height: 400px;
  }
  
  .exclusivecruisetextcard {
    margin-left: 9% !important;
    width: 100% !important;
  }
  /* 
      .exclusivecruisetextcard:hover{
        color: white;
        background-color: #3380F2;
      } */
  
  .exclusivecruisetextcard:hover div {
    color: white;
  }
  
  .exclusivedealsimagediv {
    /* border: 2px solid red !important; */
    width: 800px;
    height: 200px !important;
  }
  .exclusivedealsimage {
    /* border: 1px solid black !important; */
    width: 700px;
    height: 10px;
    margin-left: 40%;
  }
  
  .exclusivecruisecardimage {
    /* border: 1px solid red !important; */
    /* height: 300px; */
    border: none;
    width: 100% !important;
    object-fit: cover;
  }
  
  .exclusivecruisecardimage img{
    height: 200px;
    width: 100%;
  }

  .exclusivecruisecarddescmain {
    /* border: 1px solid red; */
    width: 100%;
    margin-bottom: 18%;
    margin-left: -9%;
    height: auto;
  }
  
  .exclusivecarddesc:hover {
    color: white;
  }
  
  /* .exclusivecruiseheading2 div:hover{
        color: white;
        background-color: #3380F2;
      } */
  
  /* .exclusivecruiseheading2 p{
        width: 300px;
        color: #3380F2;
        font-weight: 500;
      } */
  .exclusivecruiseheadingbuttons {
    /* border: 1px solid yellow !important; */
    justify-content: flex-end;
    width: -1%;
    margin-left: 6%;
    margin-top: 1%;
  }

  .exclusivecruiseheadingbuttons button{
    color: #3380f2 !important;
    background-color: white !important;
  }

  .line-indicator li {
    /* border: 2px solid; */
    height: 4px;
    width: 70px;
    background: lightgray;
    border-radius: 5px;
  }
  
  .line-indicator li:hover {
    background: gray;
  }
  
  .line-indicator li.slick-active {
    background: blue;
  }
  .buttons {
    /* background: orangered !important; */
    background: rgb(51, 128, 242) !important;
    color: white !important;
    transition: 700ms;
    /* border: 3px solid red; */
  }
  .buttons:hover {
    /* background: white !important; */
    /* color: orangered !important; */
    transform: scale(1.1);
  }
  .exclusivecruisebutton {
    border: 3px solid #3380f2;
    width: 35%;
    border-radius: 25px !important;
    background-color: white;
    color: #3380f2;
    padding: 4px 12px;
    font-weight: 700 !important;
    margin-bottom: 0% !important;
    font-size: 14px !important;
  }
  .exclusivecruisebutton:hover {
    border: 3px solid white;
    background-color: #3380f2;
    color: white;
    padding: 7px 7px;
    font-size: 14px !important;
  }
  /* .carousel-control-prev{
          border: 1px solid red;
      
      } */
  
  /* .main_container{
          border: 1px solid red;
          height: 500px;
      }
      
      .line-indicator li {
          height: 4px;
          width: 70px;
          background: lightgray;
          border-radius: 5px;
        }
        
        .line-indicator li:hover {
          background: gray;
        }
        
        .line-indicator li.slick-active {
          background: blue;
        }
        .buttons {
          background: orangered !important;
          color: white !important;
          transition: 700ms;
        }
        .buttons:hover {
          transform: scale(1.1);
        } */
  
  /* .partners_title{
          font-size: 35px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 10%;
        margin-bottom: 4%;
        text-decoration: none solid rgb(154, 148, 148);
        vertical-align: baseline;
        letter-spacing: normal;
        text-align: center;
        color: #3380f2;
      }
      
      ._carouseldiv1{
         position: relative;
      }
      ._imagediv{
          height:100%;
          width:100%;
      }
      .slick-slide > div {
        margin: 0 10px;
      }
      .slick-list {
        margin: 0 -10px;
      }
      ._hoverdiv{
          border:1px solid green;
          position: absolute;
          top:0px;
          width:100%;
          height:85%;
          background-color: yellow;
          visibility: hidden;
      }
      ._carouseldiv1 > div:hover{
          visibility: visible;
      }
      ._staticdiv{
          border:1px solid darkblue;
          position: absolute;
          bottom:0px;
          width:100%;
          height:14.3%;
          background-color:#203e50; 
          text-align: center;
          box-sizing: border-box;
          font-size: larger;
          padding-top: 4%;
      }
      
         */
  
  @media screen and (max-width: 950px) {
    .exclusivecruiseimagetextcontainer {
      flex-direction: column;
    }
    .col-md-4 {
      width: 90%;
      height: 280px;
      margin-left: 3%;
      margin-top: 10%;
    }
    .card-title {
      font-size: 17px;
    }
    .card-text {
      font-size: 13px;
    }
    .viewallexclusivecruisebuttons {
      display: none;
    }
    .exclusivecruiseheading1 {
      display: none;
    }
    .exclusivecruiseheadingcontainer {
      flex-direction: column;
    }
    .exclusivecruiseheading2 {
      width: 100%;
    }
    .exclusivecruiseimagetextcontainer img {
      width: 100%;
      height: 100%;
    }
    .exclusivedealsimage {
      width: 100%;
      height: 100%;
    }
    .exclusivecruisetextcard {
      margin-left: 8px;
    }
  }
  
  @media screen and (max-width: 450px) {
    .exclusivecruiseimagetextcontainer {
      flex-direction: column;
    }
    .col-md-4 {
      width: 90%;
      height: 280px;
      margin-left: 3%;
      margin-top: 5%;
    }
    .card-title {
      font-size: 17px;
    }
    .card-text {
      font-size: 13px;
    }
    .viewallexclusivecruisebuttons {
      display: inline-block;
      vertical-align: top;
      margin-top: -50px;
      text-align: right;
      width: 40%;
      font-size: 14px;
      margin-left: 52%;
    }
    .exclusivecruiseheading2 {
      display: none;
    }
    .exclusivecruiseheadingbuttons {
      display: none;
    }
    .exclusivecruiseheading1 {
      display: inline-block;
      vertical-align: top;
      width: 40%;
      font-size: 16px;
      margin-left: 3%;
    }
    .exclusivecruiseheadingcontainer {
      flex-direction: column;
    }
    .exclusivecruiseimagetextcontainer img {
      width: 100%;
      height: 100%;
    }
    .exclusivedealsimage {
      width: 100%;
      height: 100%;
    }
    .exclusivecruisetextcard {
      margin-left: 8px;
    }
  }
  
  
  /* This is a old css file */
  /* .exclusivecruisemaindiv {
    width: 100%;
    margin-left: -2.5%;
    margin-top: 5%;
  }
  
  .exclusivecruiseouterdivtop {
    display: flex !important;
    flex-direction: row !important;
    width: 95% !important;
    box-shadow: 4px 4px 4px rgb(211,211,211);
    border: none;
    transition: all 300ms ease-in-out;
  }
  
  .exclusivecruiseouterdivtop:hover {
    width: 100%;
    padding: 5px;
    box-shadow: 5px 10px 25px  #3380f2;
  }
  
  .exclusivecruiseheadingcontainer {
    display: flex;
    flex-direction: row;
    width: 105%;
    margin: auto;
    margin-top: 3%;
  }
  
  .exclusivecruiseheading1 {
    font-size: 22px;
    font-weight: 600;
    width: 31%;
    color: #3380f2;
  }
  
  .exclusivecruiseheading2 {
    width: 60%;
    height: 40px;
    justify-content: center;
    margin: -0.5% 0 1% 1%;
    font-size: 15px;
    display: flex;
    flex-direction: row;
  }
  .exclusiveheading {
    border-radius: 50px;
  }
  
  .exclusivecruiseheading2 div {
    border: 3px solid rgb(51, 128, 242);
    width: 130px !important;
    height: 33px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    margin-top: 0.5%;
    margin-right: 4%;
    border-radius: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #3380f2;
  }
  
  .exclusivecruiseheading2 div:hover {
    background-color: #3380f2;
    color: white;
  }
  .viewallexclusivecruisebuttons {
    color: #3380f2;
    font-weight: 700;
    text-decoration: underline;
    display: flex;
    margin: 0% 0 0 18%;
    width: 25%;
  }
  
  .exclusivecruisecardtitle {
    color: #3380f2 !important;
    font-size: 22px;
    margin-top: 1%;
  }
  
  .exclusivecruisecard_desc {
    width: 90%;
    color: #3380f2;
    font-size: 13px;
  }
  
  .exclusivecruiseimagetextcontainer {
    width: 100%;
    height: 520px;
  }
  
  .exclusivecruisetextcard {
    margin-left: 9% !important;
    width: 100% !important;
  }
  
  .exclusivecruisetextcard:hover div {
    color: white;
  }
  
  .exclusivedealsimagediv {
    width: 800px;
    height: 200px !important;
  }
  .exclusivedealsimage {
    width: 700px;
    height: 10px;
    margin-left: 40%;
  }
  
  .exclusivecruisecardimage {
    border: none;
    width: 100% !important;
  }
  
  .exclusivecruisecarddescmain {
    width: 100%;
    margin-left: -9%;
  }
  
  .exclusivecarddesc:hover {
    color: white;
  }
  
  .exclusivecruiseheadingbuttons {
    justify-content: flex-end;
    width: -1%;
    margin-left: 6%;
  }
  
  .line-indicator li {
    height: 4px;
    width: 70px;
    background: lightgray;
    border-radius: 5px;
  }
  
  .line-indicator li:hover {
    background: gray;
  }
  
  .line-indicator li.slick-active {
    background: blue;
  }
  .buttons {
    background: rgb(51, 128, 242) !important;
    color: white !important;
    transition: 700ms;
  }
  .buttons:hover {
    transform: scale(1.1);
  }
  .exclusivecruisebutton {
    border: 3px solid #3380f2;
    width: 30%;
    border-radius: 25px;
    background-color: white;
    color: #3380f2;
    padding: 4px 12px;
    font-weight: 500;
    margin-bottom: 1%;
    font-size: 15px !important;
  }
  .exclusivecruisebutton:hover {
    border: 3px solid white;
    background-color: #3380f2;
    color: white;
    font-size: 14px !important;
  }
  
  
  @media screen and (max-width: 950px) {
    .exclusivecruiseimagetextcontainer {
      flex-direction: column;
    }
    .col-md-4 {
      width: 90%;
      height: 280px;
      margin-left: 3%;
      margin-top: 10%;
    }
    .card-title {
      font-size: 17px;
    }
    .card-text {
      font-size: 13px;
    }
    .viewallexclusivecruisebuttons {
      display: none;
    }
    .exclusivecruiseheading1 {
      display: none;
    }
    .exclusivecruiseheadingcontainer {
      flex-direction: column;
    }
    .exclusivecruiseheading2 {
      width: 100%;
    }
    .exclusivecruiseimagetextcontainer img {
      width: 100%;
      height: 100%;
    }
    .exclusivedealsimage {
      width: 100%;
      height: 100%;
    }
    .exclusivecruisetextcard {
      margin-left: 8px;
    }
  }
  
  @media screen and (max-width: 450px) {
    .exclusivecruiseimagetextcontainer {
      flex-direction: column;
    }
    .col-md-4 {
      width: 90%;
      height: 280px;
      margin-left: 3%;
      margin-top: 5%;
    }
    .card-title {
      font-size: 17px;
    }
    .card-text {
      font-size: 13px;
    }
    .viewallexclusivecruisebuttons {
      display: inline-block;
      vertical-align: top;
      margin-top: -50px;
      text-align: right;
      width: 40%;
      font-size: 14px;
      margin-left: 52%;
    }
    .exclusivecruiseheading2 {
      display: none;
    }
    .exclusivecruiseheadingbuttons {
      display: none;
    }
    .exclusivecruiseheading1 {
      display: inline-block;
      vertical-align: top;
      width: 40%;
      font-size: 16px;
      margin-left: 3%;
    }
    .exclusivecruiseheadingcontainer {
      flex-direction: column;
    }
    .exclusivecruiseimagetextcontainer img {
      width: 100%;
      height: 100%;
    }
    .exclusivedealsimage {
      width: 100%;
      height: 100%;
    }
    .exclusivecruisetextcard {
      margin-left: 8px;
    }
  } */
  