#filter-newActivityTrave-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  margin: auto;
  top: 46%;
  background-color: white;
  width:61%;
  color: #3380f2 !important;
  height: 100px;
  left: 20.2%;
  border-radius: 10px;
  position: absolute !important;
  z-index: 10;
}

.newCruisesearchbutton{
  background-color: #3380f2;
  color: white;
  border: none;
  width: 14%;
  height: 45px;
  border-radius: 10px;
  font-weight: 700;
  /* margin-left: 13%; */
  margin-top: 1.5%;

}

.newCruisesearchbutton:hover{
  background-color: white;
  border: 2px solid #3380f2;
  color: #3380f2;
}

.newActivity_checkmark {
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
  margin-top: 2.5%;
  height: 20px;
}

.flights_newActivitycheckbox {
  margin-left: 5%;
  margin-bottom: -0.5%;
  margin-top: -2%
}
.flights_newActivitycheckbox1 {
  margin-left: 0.5%;
  margin-top: -1.4%;
  font-size: 15px;
  color: #3380f2;
}

.filter-newActivityTrave-container{
  display: flex;
  flex-direction: row;
}
.newActivityCountryDrop{
  width: 25% !important;
  /* border: 1px solid #3380f2 !important; */
  border-radius: 7px !important;
  color: grey !important;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  border: 2px solid #dddddd78;
  margin: 2% !important;
  margin-left: 3% !important;
  box-shadow: none !important;
  outline: none !important;
  font-size: 15px;
}
.newActivityCityDrop{
  width: 25% !important;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  border: 2px solid #dddddd78;
  border-radius: 0px !important;
  color: grey !important;
  margin: 2% 1.5% 0 0;
  height: 39px;
  font-size: 15px;
  font-weight: lighter;
}
.newActivityCategoryDrop{
  width: 25% !important;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  border: 2px solid #dddddd78;

  border-radius: 0px !important;
  color: grey !important;
  margin: 2% 1.5% 0 0;
  height: 39px;
  font-size: 15px;
  font-weight: 300px !important;
}