.newhomedownloadmaindiv{
  width: 100%;
  /* margin-top: 0.5%; */
  height: 500px;
  background-size: cover;
  object-fit: cover;
  background-image: url("./vplane.gif");
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
}
.mobileinhand{
  width: 39%;
  height: 90%;
  margin-left: -2.6%;
  /* border: 2px solid red; */
  margin-top:3.3%;
}
.newhomedownloadbuttons{
  width: 35%;
  height: 100%;
  /* margin-left: -17%; */
  /* border: 2px solid gold; */
  display: flex;
  flex-direction: column; 
}
.newhomedownloadtext{
  width: 80%;
  height: 30%;
  /* border: 2px solid red; */
  margin: auto;
  color: white;
  font-size: 27px;
  margin-top: 12%;
  /* padding-top: 10%; */
  text-align: center;
  font-weight: 600;
}
.newhomesearchbox{
  width: 94%;
  height: 55%;
  /* border: 2px solid greenyellow; */
  margin: auto;
  margin-top: 12%;
  display: flex;
  flex-direction: row;
}
.newhomeplaybuttons{
  /* border: 1px solid red; */
  width: 100%;
  height: 25% !important;
  /* border: 2px solid saddlebrown; */
  /* margin: auto; */
  /* margin-top: 7%; */
  margin-top: -2%;
  display: flex;
  flex-direction: row;
}
.playstoreimage{
  /* border: 1px solid red; */
  width: 30%;
  height: 45%;
  margin: 5%;
  margin-left: 20%;
  /* margin-top: -5%; */
}
.googlePlayimage{
  width: 30%;
  height: 45%;
  margin: 5%;
  margin-left: -3%;
  /* margin-top: -5%; */
}
.newhomebarcode{
  width: 30%;
  height: auto;
  text-align: center;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  margin-top:5%;
}
.qrcodeimage{
  width: 35%;
  height: 155px;
  margin: auto;
  /* margin-left: 32%;*/
  margin-top: 10%;
  /* border: 2px solid red; */
}
.starsimage{
  width: 40%;
  height: 40%;
  margin: auto;
  margin-left: 50%;
}
.qrcodetext{
  color: white;
  font-size: 20px;
  width: 65%;
  font-weight: 700;
   margin-left: 18%;
   margin-top: 5%;
  /* margin-bottom: 33% !important; */
  /* border: 2px solid red; */
}
.newhomecountryselectdiv{
  width: 85%;
}
.newhomecountryselectdivouter{
  /* border: 2px solid red; */
  width: 100%;
  height: 40px !important;
  /* background-color: #5697F5; */
  padding-top: 1%;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
}
.newhomevectorimage{
  width: 15%;
  height: 100%;
  padding-top: 1.5%;
  /* border: 2px solid salmon; */
  padding-left: 4%;
  border-radius: 25px 0px 0px 25px;
}
.newhomecountryselect{
  border: none;
  color: #3380F2;
  font-weight: 700;
  font-size: 15px;
  padding-top:4%;
  padding-left: 5%;
  appearance: none;
  width: 138% !important;
  outline: none;
}
/* .newhomecontactdata{
  border: 2px solid saddlebrown;
  margin-top: 20%;
  margin-left: 15%;
} */
.newhomeflagsimage{
  width: 20%;
  margin-top: 32%;
  margin-left: -111%;
}
.newhomestdcode{
  margin-left: -80%;
  margin-top: -13%;
  margin-bottom: -5%;
  color: white;
  font-weight: 700;
}
.newhomecontactplaceholder{
  height: 22px;
  margin-left: 10%;
  margin-top: -15%;
  border: none;
  /* width: 100% !important; */
  /* margin-top: -2% !important; */
}
.newhomecontactplaceholder::placeholder{
  color: #3380F2;
  padding-left: 5%;
  font-size: 15px;
}
.newhomesearchcountrydiv{
  border: none;
  background-color: white;
  width: 70%;
  height: 45px;
  margin-left: 17%;
  border-radius: 25px;
  color: #3380F2 !important;
}
.newhomesearchcountrydiv ::placeholder{
  color: #3380F2 !important;
  font-weight: 700;
  padding-left: 25%;
}
.newhomeappdownloadsearchbutton{
  border: 2px solid white;
  background-color: #3380F2;
  font-weight: 700;
  color: white;
  border-radius: 25px;
  text-align: center;
  padding-top: 1%;
  width: 25%;
  height: 40px;
  margin-left: -7% !important;
}
.newhomeappdownloadsearchbutton:hover{
  background-color: white;
  color: #3380F2;
  cursor: pointer;
}
.qrcodetext1{
  color: white;
  font-size: 20px;
  width: 65%;
  font-weight: 700;
   margin-left: 20%;
   margin-top: 0%;
  /* margin-bottom: 33% !important; */
  /* border: 2px solid red; */
}