.natureactivitymaindiv{
    width: 100%;
    margin-top: 5%;
  }
  
  .natureloveouterdiv {
    border: 2px solid lightgray;
    display: flex !important;
    flex-direction: row !important;
    width: 96%;
    height: 460px !important;
    box-shadow: 4px 4px 4px rgb(211,211,211);
    border: none;
    transition: all 300ms ease-in-out;
  }

  .natureloveouterdiv:hover {
    width: 100%;
    padding: 5px;
    box-shadow: 5px 10px 25px  #3380f2;
  }
  
  .natureloveheadingcontainer {
    background-color: #3380f2;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    /* margin: auto; */
    margin-top: 3%;
  }
  
  .natureloveheading1 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 2%;
    margin-left: 4%;
    width:65%;
    color: white;
    /* color: #3380f2; */
  }
  
  .natureloveheading2 {
    width: 50%;
    height: 40px;
    justify-content: center;
    margin: -0.5% 0 1% 1%;
    font-size: 15px;
    display: flex;
    flex-direction: row;
  }
  .natureloveheading {
    border-radius: 50px;
  }
  
  .natureloveheading:hover{
    background-color: white;
    color: #3380f2;
  }
  .natureloveheading2 div {
    /* border: 3px solid rgb(51, 128, 242); */
    border: 2px solid white;
    width: 130px !important;
    height: 33px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    margin-top: 4%;
    margin-right: 4%;
    border-radius: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: white;
  }
  
  /* .natureloveheading2 div:hover {
    background-color: #3380f2;
    color: white;
  } */
  .viewallnaturelovebuttons {
    color: white;
    font-weight: 700;
    text-decoration: none !important;
    display: flex;
    margin: 1% 0 0 60%;
    width: 56%;
  }
  
  .natureloveslidercontainer{
    /* border: 2px solid red; */
    width: 90%;
    margin: auto;
    margin-top: 1.7%;
  }
  .naturelovecardtitle {
    color: #3380f2 !important;
    font-size: 22px;
    margin-top: 1%;
  }
  
  .internationalcard_desc {
    width: 90%;
    color: #3380f2;
    font-size: 13px;
    text-align: left;
  }
  
  .natureloveimagetextcontainer {
    width: 100%;
    height: 430px;
  }
  
  .naturelovetextcard {
    margin-left: 9% !important;
    width: 100% !important;
  }


  .exclusivedealsimagediv {
    width: 800px;
    height: 200px !important;
  }
  .exclusivedealsimage {
    width: 700px;
    height: 10px;
    margin-left: 40%;
  }
  
  .naturelovecardimage {
    border: none;
    width: 100% !important;
  }
  
  .naturelovecarddescmain {
    width: 100%;
    margin-left: -9%;
  }
  
  .exclusivecarddesc:hover {
    color: white;
  }

  .viewallnaturelovetext{
    margin-top: 1.5%;
    border: 2px solid white;
    padding: 0px;
    margin-bottom: 9%;
    margin-left: 11px;
    border-radius: 20px;
    width: 40%;
    font-size: 14px;
    font-weight: 700;
    padding-left: 13px;
    padding-top: 5px;
  }

  .viewallnaturelovetext:hover{
    background-color: white;
    color: #3380f2;
  }
  
  .natureloveheadingbuttons {
    justify-content: flex-end;
    margin-left: 0%;
  }

  
  .natureloveheadingbuttons button{
    color: #3380f2 !important;
    background-color: white !important;
  }
  
  
  .line-indicator li {
    height: 4px;
    width: 70px;
    background: lightgray;
    border-radius: 5px;
  }
  
  .line-indicator li:hover {
    background: gray;
  }
  
  .line-indicator li.slick-active {
    background: blue;
  }

  .buttons {
    background: rgb(51, 128, 242) !important;
    color: white !important;
    transition: 700ms;
  }
  .buttons:hover {
    transform: scale(1.1);
  }
  .naturelovebutton {
    border: 3px solid #3380f2;
    width: 34%;
    border-radius: 15px !important;
    background-color: white;
    color: #3380f2;
    padding: 4px 10px;
    font-weight: 500;
    margin-bottom: 1%;
    margin-top: 3%;
    font-size: 15px !important;
  }
  .naturelovebutton:hover {
    border: 3px solid white;
    background-color: #3380f2;
    color: white;
   
    font-size: 14px !important;
  }
  
  
  @media screen and (max-width: 950px) {
    .natureloveimagetextcontainer {
      flex-direction: column;
    }
    .col-md-4 {
      width: 90%;
      height: 280px;
      margin-left: 3%;
      margin-top: 10%;
    }
    .card-title {
      font-size: 17px;
    }
    .card-text {
      font-size: 13px;
    }
    .viewallnaturelovebuttons {
      display: none;
    }
    .natureloveheading1 {
      display: none;
    }
    .natureloveheadingcontainer {
      flex-direction: column;
    }
    .natureloveheading2 {
      width: 100%;
    }
    .natureloveimagetextcontainer img {
      width: 100%;
      height: 100%;
    }
    .exclusivedealsimage {
      width: 100%;
      height: 100%;
    }
    .naturelovetextcard {
      margin-left: 8px;
    }
  }
  
  @media screen and (max-width: 450px) {
    .natureloveimagetextcontainer {
      flex-direction: column;
    }
    .col-md-4 {
      width: 90%;
      height: 280px;
      margin-left: 3%;
      margin-top: 5%;
    }
    .card-title {
      font-size: 17px;
    }
    .card-text {
      font-size: 13px;
    }
    .viewallnaturelovebuttons {
      display: inline-block;
      vertical-align: top;
      margin-top: -50px;
      text-align: right;
      width: 40%;
      font-size: 14px;
      margin-left: 52%;
    }
    .natureloveheading2 {
      display: none;
    }
    .natureloveheadingbuttons {
      display: none;
    }
    .natureloveheading1 {
      display: inline-block;
      vertical-align: top;
      width: 40%;
      font-size: 16px;
      margin-left: 3%;
    }
    .natureloveheadingcontainer {
      flex-direction: column;
    }
    .natureloveimagetextcontainer img {
      width: 100%;
      height: 100%;
    }
    .exclusivedealsimage {
      width: 100%;
      height: 100%;
    }
    .naturelovetextcard {
      margin-left: 8px;
    }
  }
  