#bannerImage{
    width: 100%;
    height: 500px;
    border: 2px solid white;
    background-image: url("./visa.png");
    background-size: cover;
    position: relative;
    object-fit: cover;
}
#bannerImage::before{
    position: absolute;
    content: "";
    background-color: #000;
    opacity: 0.8;
}
.bannerheading{
    /* border: 1px solid red; */
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 40px;
    margin-top: 5%;
}
.bannersearchboxdiv{
    /* border: 2px solid black; */
    z-index: 0;
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 65%;
    height: 180px;
    border-radius: 10px;
    background-color: white;
    margin-top: -2.5%;
    /* opacity: 0.9; */
}
.selectcountry{
    width: 25%;
    height: 60px;
    /* border: 2px solid #3380F2; */
    margin-top: 7%;
    margin-left: 0.5%;
    color: #3380F2;
    text-align: center;
}
.visabannercountrytext{
    /* border: 1px solid; */
    margin-top: -4% !important;
    margin-left: 3%;
    text-align: left;
    width: 90%;
    font-size: 15px
}
.visabannerdropdown{
    border: 2px solid #3380F2;
    width: 95%;
    height: 50px;
    border-radius: 8px;
    color: #3380F2;
    font-size: 18px;
    font-weight: 500;
    margin-left: 2%;
    margin-top: -5%;
}
.bannersearchbutton{
    height: 50px;
    width: 18%;
    border: none;
    margin-bottom: 1%;
    background-color: #3380F2;
    margin-left: 1%;
    margin-top: 8.2%;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border-radius:10px;
    text-decoration: none;
}
.bannersearchbutton p{
    padding: 5% 0px 0px 32%;
}
.bannersearchbutton:hover{
    background-color: rgb(111, 0, 255);
    color: white;
}
    
    /* This is for Menu bar */

    .visamenubar {
        width: 55%;
        /* height: 500px; */
        /* border: 2px solid red; */
        margin: auto;
        display: flex;
        flex-direction: row;
        margin: auto;
        /* box-sizing: border-box; */
        /* place-content: center; */
        /* align-items: center; */
        margin-top: 1.5%;
        /* position: relative; */
        z-index: 1000;
        /* bottom: 10%; */
        /* color: white  !important; */
        /* border-radius: 40px; */
      
    }