.newSearchCarHireDestinationContainer {
  /* border: 1px solid red; */
  width: 90%;
  margin: auto;
}

.newSearchCarHireDestinationHeadingContainer {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
}

.newSearchCarHireDestinationHeadingContainer h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 2%;
  margin-left: 1%;
  margin-bottom: 2%;
  width: 65%;
  color: #393939;
}

.clientstestimonial_title {
  font-size: 27px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 4%;
  margin-bottom: 3%;
  text-decoration: none solid rgb(45, 44, 44);
  vertical-align: baseline;
  letter-spacing: normal;
  text-align: center;
  color: rgb(51, 128, 242);
}

.newSearchCarHireDestinationInputContainer {
  /* border: 1px solid red; */
  width: 40%;
  height: 65px;
  margin-left: 2%;
}

.newSearchCarHireDestinationInputContainer p {
  /* border: 1px solid maroon; */
  height: 10px;
  margin-left: 2%;
  font-family: Arial, Helvetica, sans-serif !important;
  color: #818090;
  font-size: 14px;
}

.newSearchCarHireDestinationInputContainer1 {
  /* border: 1px solid red; */
  width: 25%;
  height: 65px;
}

.newSearchCarHireDestinationInputContainer1 p {
  /* border: 1px solid maroon; */
  height: 10px;
  margin-left: 2%;
  font-family: Arial, Helvetica, sans-serif !important;
  color: #818090;
  font-size: 14px !important;
}

.newSearchCarHireNameInput {
  /* border: 1px solid black ; */
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  color: #212529;
  /* background-color: #8DBBFF; */
  width: 100%;
  border: 2px solid #dddddd78;
  height: 40px;
  display: flex;
  border-radius: 9px;
  /* padding-left: 2px; */
  padding-top: 2px;
  /* border-radius: 5px; */
  flex-direction: row;
}
.newSearchCarHireNameInput1 {
  /* border: 1px solid black !important;    */
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* background-color: #8DBBFF; */
  width: 100%;
  margin-left: 2%;
  margin-right: 2% !important;
  padding-left: 5px;
  padding-top: 5px;
  height: 40px;
  display: flex;
  /* border-radius: 5px; */
  flex-direction: row;
}

.newSearchCarHireInputNameContainer input {
  /* background-color: #8DBBFF; */
  height: auto;
  margin-top: 1% !important;
  width: 130% !important;
  color: grey;
  border: none !important;
  outline: none !important;
  padding-left: 4%;
  font-size: 18px;
}

.newSearchCarHireInputNameContainer input::placeholder {
  /* padding-left: 5%; */
  color: grey;
  font-size: 15px;
}

.newSearchCarHireInputicon {
  margin-top: 2%;
  font-size: 17px;
  color: grey;
  /* margin-right: 4%; */
  margin-left: 2%;
}

.newSearchCarHireInputNameContainer .hotelinputIconContainer {
  font-size: 30px !important;
}

.newSearchCarHireDestinationWrapper {
  position: relative;
  width: 106%;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.carousel .slick-dots {
  bottom: -2.5vw;
}

.carousel .slick-dots li button {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 20px;
}

.carousel .slick-dots li button:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  content: "";
  text-align: center;
  opacity: 0.5;
  color: #000;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.carousel .slick-prev,
.carousel .slick-next {
  width: 50px;
  height: 50px;
  background-color: #fff;
}

.carousel .slick-prev:hover,
.carousel .slick-prev:focus,
.carousel .slick-next:hover,
.carousel .slick-next:focus {
  color: #fff;
  outline: none;
  background: #fff;
}

.carousel .slick-prev:before,
.carousel .slick-next:before {
  color: #000;
  font-family: "Raleway", sans-serif;
}

.carousel .slick-next {
  right: -55px;
}

.carousel .slick-prev {
  left: -55px;
}

.clientstestimonial_title {
  font-size: 27px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 4%;
  margin-bottom: 3%;
  text-decoration: none solid rgb(45, 44, 44);
  vertical-align: baseline;
  letter-spacing: normal;
  text-align: center;
  color: rgb(51, 128, 242);
}

.carousel .slick-dots {
  bottom: -2.5vw;
}

.carousel .slick-dots li button {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 20px;
}

.carousel .slick-dots li button:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  content: "";
  text-align: center;
  opacity: 0.5;
  color: #000;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.carousel .slick-prev,
.carousel .slick-next {
  width: 50px;
  height: 50px;
  background-color: #fff;
}

.carousel .slick-prev:hover,
.carousel .slick-prev:focus,
.carousel .slick-next:hover,
.carousel .slick-next:focus {
  color: #fff;
  outline: none;
  background: #fff;
}

.carousel .slick-prev:before,
.carousel .slick-next:before {
  color: #000;
  font-family: "Raleway", sans-serif;
}

.carousel .slick-next {
  right: -55px;
}

.carousel .slick-prev {
  left: -55px;
}

.newSearchCarHireDestinationImage {
  margin-left: 3%;
  width: 102%;
  border-radius: 20px !important;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.newSearchCarHireDestinationImage:hover img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.newSearchCarHireDestinationImage:hover .newSearchCarHireDestinationCardImage {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.newMultisection_Activityimage:hover .newSearchCarHireDestinationCardImage {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.newSearchCarHireDestinationCardImage {
  top: 0;
  left: 0;
  width: 100%;
  height: 360px !important;
  border-radius: 20px !important;
  z-index: 2;
  background-color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.newSearchCarHireDestinationCardImage img {
  width: 100%;
  filter: brightness(0.8);
  -o-object-fit: cover;
  object-fit: cover;
}
.newMultisection_Activityimage:hover .newSearchCarHireDestinationCardImage {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.newSearchCarHireDestinationDetails {
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 310px;
  z-index: 100000000;
  padding: 10px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  line-height: 15px;
}

.newSearchCarHireDestinationDetails h2 {
  margin: 0px 0;
  padding: 0;
  text-align: center;
  color: white;
  font-size: 22px;
  font-weight: 700;
}

.newSearchCarHireDestinationDetails h2 .job-title {
  font-size: 16px;
  line-height: 1.5;
  color: white;
  font-weight: 300;
  display: block;
}
/*     
    .card:hover .newSearchCarHireDestinationDetails {
      bottom: 0;
    } */
