.whychoosemaindiv{
    width: 100%;
    height: 420px;
    /* border: 3px solid #3380F2; */
    margin: auto;
    margin-top: 4%;
    text-align: center;
    color: black;
}
/* .whychooseheading{
  background-color: #3380F2;
} */
.whychooseheading h1{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    /* margin-left: 8%; */
    /* border-bottom: 2px solid #3380F2; */
    color: #3380F2;
    height: 55px;
    /* padding-top:8px ; */
}

.whychoosedatadiv{
    display: flex;
    flex-direction: row;
    /* border: 2px solid black; */
}
.onetest{
    width: 33%;
}
.whychooseheadinglogos{
    width: 95%;
    /* border: 1px solid red; */
    height: 120px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 2%;
}
.whychooseheadinglogos1{
    width: 95%;
    border: 1px solid white;
    height: 50px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1%;
    text-align: center;
    
}
.whychooseheadinglogos h5{
    font-weight: 500;
    margin-left: 10%;
    margin-top: 2%;
}
.whychooselogos{
    width: 70px;
    height: 50px;
    margin-left: 45%;
    /* margin-top: 1%; */
    /* border: 2px solid; */
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    color: #3380F2;
    border: 3px solid #3380F2;
    transform: rotateY(180deg);
  }