.cheapflightsouterdiv{
    width: 100%;
    height: auto;
    /* border: 2px solid red; */
}
.cheapflightsheading{
    /* background-color: #3380F2; */
    /* border: 1px solid red; */
    color: #3380F2;
    text-align: center;
    height: 50px;
    font-size: 26px;
    font-weight: 700;
}
.cheapflightcontainerdiv{
    /* border: 2px solid pink; */
    margin: auto;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.cheapflightdiv1{
    width: 32%;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}
.cheapflightdiv2{
    width: 32%;
    height: 100%;
    margin-left: 2%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}
.cheapflightdiv3{
    width: 32%;
    height: 100%;
    margin-left: 2%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}
.cheapflightdiv4{
    width: 25%;
    height: 100%;
    margin-left: 2%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}
.cheapflightdetails{
    border: 1px solid lightgray;
    border-radius: 15px;
    width: 100%;
    height: 60px;
    margin-top: 4%;
}
.cheapflightdropdown{
    /* border: 1px solid lightgray; */
    border-radius: 15px;
    width: 100%;
    height: 60px;
    margin-top: 8%;
}
.cheapflightdropdownbutton{
    border: 1px solid lightgray;
    border-bottom: 2px solid #3380F2;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: white;
    color: #3380F2;
    font-size: 20px;
    font-weight: 500;
   }
/* .cheapflightdropdown :hover{
    color: White;
    background-color: #3380F2;
} */
.cheapflighticon{
    margin-left: 4%;
}
.cheapflightdownarrrow{
    margin-left: 15%;
}
.cheapflightdata{
    /* color: #3380F2; */
    margin-top: 2%;
}
.cheapflightdata:hover{
    background-color: #3380F2;
    color: White;
}

/* .cheapflightsdropdownoptions{
    bo
} */