.exclusivemaindiv{
    width: 99.3%;
    height: 550px;
    margin-bottom: 4%;
    /* border: 2px solid green; */
}
.exclusivedealsheadingcontainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #393939;
  /* margin: auto; */
  background-color: white !important;
  margin-top: 1%;
  height: 80px;
}
.exclusivedealsheading1{
  font-size: 35px;
  font-weight: 700;
  width: 20%;
  margin-left: 5%;
  margin-top: 1.4%;
  color: #393939;
}
.exclusivedealsheading2{
  font-size: 15px;
  font-weight: 700;
  margin: auto;
  color: #393939;
  display: flex;
  flex-direction: row;
}
.exclusivedealsheading2 h3{
  margin-left: 10%;
  font-size: 20px;
  margin-top: 2%;
  font-weight: 700;
}
.exclusivedealsheading2 h3:hover{
  text-decoration: underline;
}
.exclusivedealsheadingbuttons {
  /* border: 1px solid yellow !important; */
  color: #3380F2;
  justify-content: flex-end;
  width: -1%;
  margin-left: 100%;
  cursor: pointer;
  margin-top: 1%;
}

.exclusivedealsheadingbuttons button {
  color: #3380f2 !important;
  background-color: #3380F2 !important;
}
.exclusivedealsconatinerdiv{
    width: 100%;
    height: 450px;
    margin: auto;
    /* border: 2px solid gold; */
    margin-top: 0%;
    display:flex;
    flex-direction: row;
}
.exclusivedealsimageheading{
    width: 40%;
    height: 100%;
    /* border: 2px solid red; */
    /* border-right: 2px solid #3380F2; */
}
.exclusivedealsselectoptions{
  background-color: white;
  color: #3380F2;
  /* border: 2px solid white !important; */
  /* border-radius: 15px; */
  border: none;
  z-index: 100;
  height: 40px;
  width: 40%;
  font-weight: 700;
  padding-left: 2%;
  margin-left: 10%;
  margin-top: 10%;
}
.exclusivedealsimagebackside{
    z-index: 0;
    border-right: 2px solid #3380F2;
    margin-top: 4%;
    width: 98%;
    height: 100%;
    /* border: 2px solid black; */
}
.exclusivedealsimagefrontside{
    z-index: 1;
    width: 78%;
    height: 500px;
    margin-top: -77%;
    margin-left: 9%;
}
.exclusivedealsheadings{
    color: white;
    margin-top: -60%;
    z-index: 10;
    margin-left: 15%;
    width: 70%;
}
.exclusiveheadingsboldheadings{
    font-weight: 700;
    font-size: 35px;
    /* margin-left: 5%; */
}
.exclusivedealssliderdata{
    width: 60%;
    height:100%;
    margin-top: 1%;
}
.exclusivecardimage {
    border: none;
    width: 33% !important;
    object-fit: cover;
    height: 50px;
    /* border: 2px solid red; */
  }
  
  .exclusivecardimage img{
    height: 200px;
    width: 100% ;
  }
  .exclusiveimagetextcontainer {
    width: 100%;
    height: 200px !important;
    /* border: 2px solid black; */
    
  }
  .exclusivedealstextcard {
    margin-left: 40% !important;
    width: 64% !important;
    margin-top: -15% !important;
  }
  .exclusivedealscardtitle {
    color: #393939 !important;
    font-weight: 700;
    font-size: 18px;
    margin-top: 2%;
  }
  .exclusivedealsbutton {
    border: 3px solid #3380f2;
    width: 43%;
    border-radius: 25px !important;
    background-color: white;
    color: #3380F2;
    padding: 2px 12px;
    font-weight: 700 !important;
    margin-bottom: 0% !important;
    margin-top: -4%;
    font-size: 14px !important;
  }
  .exclusivedealsbutton:hover {
    border: 3px solid white;
    background-color: #3380f2;
    color: white;
    /* padding: 7px 7px;
    font-size: 14px !important; */
  }
  .exclusivedealscard_desc{
    font-size: 14px;
  }