
.flightfaq{
    border: 1px solid lightgray;
    width: 90%;
    margin: auto;
    text-align: left;
    border-radius: 20px;
    margin-top: 2%;
    padding-left: 2%;
    padding-bottom: 1%;
}
.faqheading{
    text-align: center;
    font-size: 40px;
    color: #3380f2;
    font-weight: 700;
    margin-bottom: 1%;
    /* margin-top: 2%; */
}
.faqQuestions{
    color: #3380f2;
    font-weight: 700;
    margin-top: 1%;
    /* border: none !important; */
}