.container_banner{
    border: 1px solid white;
    height: 500px;
    background-image: url("https://cdn2.nogarlicnoonions.com/images/thumbs/image.php?width=2000&height=2000&image=/images/articles/2020-01/travel2020-01-23-01-42-04.jpg");
    background-size:cover;
    /* margin: auto; */
    
}
.container_banner>div>p{
    margin-top: 120px;
    font-size: 50px;
    color:white;
    width: 70%;
    font-weight: 500;
    /* border: 2px solid green; */
    margin-top: 8%;
}
.banner_title{
    /* border: 2px solid green; */
    width: 70%;
    height: 50px;
    font-size: 50px;
    margin: auto;
    /* margin-top: 5%; */
}

.carouselhotelmenu {
    width: 77%;
    margin: auto;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
    margin-top: 10px;
    position: relative;
    z-index: 1000;
    bottom: 18%;
    color: white  !important;
    border-radius: 40px;
  }

  #borderLeft{
    border-radius: 40px 0 0 40px;
  }
  #borderright{
    border-radius: 0 40px 40px 0;
  }

  .carouselhotelmenu-icon {
    height: 80px;
    width: 15%;
    background-color: white;
    color: #3380f2;
    /* background-color: #3380f2; */
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    /* color: white; */
    text-decoration: none;
  }

  .carouselhotelmenu-icon:hover {
    text-decoration: none;
    color: white;
    background-color: blue;
    /* color: #3380f2;
    background-color: white; */
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  
  .carouselhotelmenu-icon span {
    white-space: nowrap;
    color: white;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    text-align: center;
  }
  .carouselhotelmenu-icon-active {
    background: #3380f2 !important;
    border-color: white !important;
    height: 70px;
    width: 90px;
    border-radius: 7px;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
    margin-right: 12px;
    cursor: pointer;
    color: white !important;
    text-decoration: none;
  }

.banner_input{
    /* border: 2px solid blue; */
    color:white;
    background-color: #3380F2;
    height: 250px;
    width: 70%;
    border-radius: 15px;
    margin: auto;
    margin-top: 4%;
    opacity: 0.9;
}
.want_stay{
    /* border: 2px solid gold; */
    padding: 1%;
    margin-top: 10px;
    display: flex;
    font-weight: 500;
    justify-content: space-between;
    width: 90%;
    margin-top: -2%;
}
.search_hotel{
    height: 40px;
    background-color: white;
    border-radius: 5px;
}
.search_hotel>input{
    height: 100%;
    border: none;
    width: 25;
    border: 2px solid gray;

}

.hotel_search_destination{
    /* border: 2px solid black; */
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 95%;
    border-radius: 5px;
    /* border: 2px solid red; */
}
.hotelnametext::placeholder{
    color: #3380F2 !important;
}
.hotel_search_destination>div{
    padding: 1%;
}
.hotel_search_destination>div>input{
    font-weight: 600;
    color: #3380F2;
    border: none;
    
}
.checkfilter{
/* border: 2px solid rebeccapurple; */
display: flex;
width:50%;
justify-content: space-between;

}
.popularfilter{
    /* border: 2px solid gainsboro; */
    display: flex;
    justify-content:space-between;
    width: 89%;
    margin:  30px auto;
}
.search_hotel_button{
height: 35px;
border-radius: 5px;
width: 150%;
font-weight: bold;
border: none;
color: #3380F2;
margin-left: -3% !important;
/* border: 2px solid red; */
margin-top: -20% !important;
}
.adult_select{
    border: none;
    color: #3380F2;
    font-weight: 600;
}