.cheapflightsouterdiv{
    width: 100%;
    height: auto;
    border: 2px solid red;
}

.cheapflightcontainerdiv{
    margin: auto;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    border: 2px solid red;
}
.cheapflightdiv1{
    width: 32%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    margin-left: 20%;
}
.cheapflightdiv2{
    width: 32%;
    height: 100%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    margin-top: 8%;
}
.cheapflightdiv3{
    width: 32%;
    height: 100%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
}
.cheapflightdiv4{
    width: 25%;
    height: 100%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
}
.cheapflightdetails{
    border: 1px solid lightgray;
    border-radius: 15px;
    width: 100%;
    height: 60px;
    margin-top: 4%;
}
.cheapflightdropdown{
    border-radius: 15px;
    width: 91%;
    height: 40px;
    margin-top:12%;
    font-size: 15px;
    /* border: 2px solid red; */
}
.cheapflightdropdownbutton{
    border: 1px solid lightgray;
    border-bottom: 2px solid #3380F2;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: white;
    color: #3380F2;
    font-size: 17px;
    font-weight: 500;
   }

.cheapflighticon{
    margin-left: 4%;
}
.cheapflightdownarrrow{
    margin-left: 15%;
}
.cheapflightdata{
    color: rgb(60, 60, 60);
    margin-top: 2%;
    font-weight: 700;
}
.cheapflightdata:hover{
    background-color: #3380F2;
    color: White;
}

.cheapflights{
    width: 100%;
    height: 700px;
    /* background-color: #3380F2; */
    /* border: 2px solid red; */
}
.cheapflightsheading{
    width: 85%;
    height: 60px;
    margin: auto;
    /* border: 2px solid green; */
    color:white;
    font-size: 25px;
    font-weight: 700;
    padding-top:10px;
    padding-left: 15px;
    background-color: #3380F2;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
}
.cheapflightsselectoptions{
    border: 2px solid red;
    width: 100%;
    margin: auto;
    display: flex;
    margin-top: 0%;
    flex-direction: row;
}
.cheapflightselectdiv{
    display: flex;
    flex-direction: row;
    margin-top: 0.2%;
    /* border: 2px solid red; */
    margin-left: 35%;
    width: 14%;
}
.cheapflightselectdiv1{
    display: flex;
    flex-direction: row;
    width: 16%;
    margin-top: 0.2%;
    /* border: 2px solid red; */
    margin-left: 2%;
    height: 20px !important;
}
.cheapflightselectdiv3{
    display: flex;
    flex-direction: row;
    width: 16%;
    /* border: 2px solid red; */
    margin-left: 74%;
    margin-top: 5%;
}
.cheapflightsicondiv{
    /* border: 2px solid gr een; */
    width: 26%;
    height: 35px;
    background-color: white;
    border-radius: 0px 10px 10px 0px;
}
.cheapflightsicondiv3{
    /* border: 2px solid gr een; */
    width: 26%;
    height: 35px;
    background-color: white;
    border-radius: 0px 18px 18px 0px;
    padding-top: 5%;
}
.cheapflightsselect1{
    /* border: 2px solid gold !important; */
    border: none;
    height: 35px;
    width: 50%;
    /* padding-right: 20%; */
    border-radius: 10px 0px 0px 10px;
    appearance: none;
    text-align: left;
    padding-left: 10%;
    color: #3380F2 !important;
    font-weight: 500;
    font-size: 14px;
    font-weight: 700;
    outline: none;
    /* margin-left: 30%; */
}

.cheapflightsselect2{
    /* border: 2px solid gold !important; */
    border: none;
    height: 35px;
    width: 60%;
    padding-right: 20%;
    border-radius: 10px 0px 0px 10px;
    appearance: none;
    text-align: left;
    padding-left: 10%;
    color: #3380F2 !important;
    font-weight: 500;
    font-size: 14px;
    font-weight: 700;
    outline: none !important;
    /* margin-left: 30%; */
}
.cheapflightsselect3{
    /* border: 2px solid gold !important; */
    border: none;
    height: 35px;
    width:56%;
    padding-right: 20%;
    border-radius: 18px 0px 0px 18px;
    appearance: none;
    text-align: left;
    padding-left:14%;
    color: #3380F2 !important;
    font-weight: 500;
    font-size: 14px;
    font-weight: 700;
    /* margin-left: 30%; */
}
.cheapflightsicon{
    color: #3380F2;
    margin-top: -6%;
    height: 15px;
    margin-left: 21%;
}
.cheapflightsmaindiv{
    width: 85%;
    height: 550px;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    margin: auto;
    /* background-image: url("./cheapflightsbg.jpg"); */
    /* filter: brightness(0.5); */
    object-fit: cover;
    background-size: cover;
    border-radius: 18px;
}
.cheapflightscountrynames{
    width: 28%;
    height: 550px;
    overflow-y: scroll;
    /* border: 2px solid; */
}
.cheapflightscountryactivediv{
    width: 45%;
    height: 35px;
    color: white;
    font-weight: 600;
    font-size: 19px;
    border-radius: 15px;
    text-align: center;
    padding-top: 1%;
    margin-top: 15%;
    margin-left: 10%;
    background-color: #3380F2;
}
.cheapflightscountrydiv{
    width: 45%;
    height: 30px;
    color: #3380F2;
    font-weight: 600;
    font-size: 18px;
    border-radius: 15px;
    text-align: center;
    padding-top: 1%;
    margin-top: 5%;
    margin-left: 10%;
    background-color: white;
}
.cheapflightdetailscontainer{
    width: 72%;
    height: 550px;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
}
.cheapflightalphafilter{
    border: none;
    height: 39px;
    width: 51%;
    padding-right: 28%;
    border-radius: 18px;
    /* appearance: none; */
    text-align: center;
    color: #3380F2;
    font-weight: 600;
    /* margin-right: 50%; */
    font-size: 13px;
    margin-left: 65%;
    margin-top: 2%;
}
.cheapflightapidata{
    width: 95%;
    height: 450px;
    /* border: 1px solid bl ue; */
    /* background-color: blue; */
    /* opacity: 0.2; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    /* background: transparent; */
    margin: auto;
    display: flex;
    flex-direction: row;
}