/* .newhomefooterparentcontainer {
  height: 700px;
  background: #3380f2;
}

.newHomeFootertextcontainer1 {
  display: flex;
  width: 90%;
  flex-direction: row;
  margin-left: 3%;
  margin-bottom: 1.5%;
  height: 100px;
}

.socialnewHomeFooterIcons {
  color: white;
  font-size: 26px;
  margin-top: 100% !important;
  gap: 50% !important;
}
.footernewHomesocialmedia {
  display: flex;
  width: 100%;
  justify-content: center;
  column-gap: 20px;
  margin-top: 5%;
  margin-left: 20%;
  color: white;
}
.newHomeFootertextcontainer1 img {
  height: 60px;
  margin-top: 1%;
}

.newHomeFootertextcontainer2 {
  margin-left: 3%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid white;
  width: 90%;
  height: 100px;
}

.newHomeFooterHeadingtexts {
  width: 50%;
}

.newHomeFooterHeadingtexts h5 {
  width: 80%;
  font-weight: 600;
  color: white;
  font-size: 18px !important;
}

.newFooterCurrencyDropDown{
  margin-left: 30%;
  margin-top: -5%;
}

.newFooterCurrencyDropDown h5{
  color: white;
}

.newFooterCountryDrop {
  background-color: white !important;
  width: 65% !important;
  height: 35px !important;
  margin-bottom: 3%;
  color:#3380F2 !important;
  font-weight: 400 !important;
  font-size: 15px !important;
  cursor: pointer;
  padding-left: 10px;
  padding-top:4px;
  border: none;

 }
 .newHomePopularDestinationDropContainer select{
   background-image: none !important;
 }
 
 .newFooterCountryDrop:hover {
   background-color: #3380F2 !important;
   color: white !important;
   font-weight: 700;
   border: 3px solid white !important;
 }


.newHomeFootermapMainContainer {
  display: flex;
  margin: auto;
  width: 95%;
  flex-direction: row;
}

.newHomeFooterMapContainer {
  width: 50%;
  margin-top: 2%;
  object-fit: cover;
}

.newHomeFooterMapContainer img {
  object-fit: cover;
  background: cover;
  width: 100%;
  height: 400px;
}

.newHomeFooterBlogContainer {
  width: 25%;
}

.newHomeFooterBlogContainer h5 {
  margin-top: 4%;
  color: white;
  font-size: 25px !important;
  margin-left: 5%;
}

.newHomeblogsimagecontentdiv {
  border: 1px solid whitesmoke;
  margin-bottom: 3%;
  width: 85%;
  border-radius: 7px;
  display: flex;
  height: 85px;
  margin-left: 5%;
  flex-direction: row;
  cursor: pointer;
}
.newHomeBlogimagediv img {
  margin-top: 7%;
  margin-left: 5%;
  border-radius: 7px;
  height: 72px;
}

.newHomeBlogcontent {
  margin-left: 3%;
}

.newHomeBlogcontent h4 {
  font-size: 16px !important;
  margin-top: 10%;
  font-weight: 600;
  color: white;
}

.newHomeBlogcontent p {
  color: white;
  font-weight: 500;
  font-size: 15px;
}

.newHomeFooterContactContainer {
  width: 25%;
}

.newHomeFooterContactContainer h5 {
  color: whitesmoke;
  margin-top: 3%;
  font-size: 24px;
  margin-left: 5%;
  margin-bottom: 3%;
}

.newHomeFooterContactContent {
  display: flex;
  flex-direction: row;
  margin-bottom: 3%;
  width: 85%;
  border-radius: 7px;
  display: flex;
  height: auto;
  margin-left: 5%;
  flex-direction: row;
  cursor: pointer;
}


.newHomeFooterContactContentInner2{
  margin-left: 3%;
}

.newHomeFooterContactContentInner2 p{
  margin-left: 5%;
  color: white;
}

.newHomeFooterContactContentInner2span{
  text-align: right !important;
}


.mapnewhomeimagediv {
  width: 40%;
}
.footer {
  width: 100%;
  background: #3380f2;
  display: flex;
  justify-content: center;
  column-gap: 1%;
  box-sizing: border-box;
}

.footercontainer {
  display: flex;
}

.footernewhomeSectionMapcontainer {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  background: #3380f2;
  row-gap: 16px;
  color: white;
}

.contecticonsnewHomeFootermap {
  font-size: 30px;
  color: white;
  margin-top: 10%;
}

.footernewhomeSectionMapcontainer h2 {
  margin-left: 15%;
  margin-top: 8%;
  text-transform: uppercase;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.contecticonsnewHomeFootercall {
  font-size: 28px;
  margin-top: 25%;
}

.contecticonsnewHomeFootermail {
  font-size: 30px;
}

.footerContentmail{
  margin-top: 5%;
}
.contecticonsnewHomeFooterglobe {
  font-size: 30px;
}

.footerContentwebsite{
  margin-top: 2%;
}
.newFooterPaymentGateways{
  background-color: #3380f2;
  height: 120px;
}

.newFooterPaymentGateways h5{
  color: white;
  margin-left: 66.5%;
  font-size: 20px;
  margin-bottom: 0.5%;
  font-family: sans-serif;
}

.newFooterPaymentImages{
  display: flex;
  flex-direction: row;
  width: 35%;
  margin-left: 65%;
}

.gatewayImage1{
  height: 35px;
  width: 90px;
  background-color: white;
  margin-left: 3%;
  border-radius: 9px;
}

.gatewayImage1 img{
  object-fit: cover;
  height: 35px;
  width: 90px;
  margin-left: 3%;
}
.gatewayImage2{
  margin-left: 3%;
  border-radius: 9px;

}

.gatewayImage2 img{
  object-fit: cover;
  margin-left:2%;
}
.gatewayImage3{
   height: 35px;
   width: 90px;
  background-color: white;
  margin-left: 3%;
  border-radius: 9px;
}

.gatewayImage3 img{
  object-fit: cover;
  height: 32px;
    width: 80px;
    margin-left: 2%;
}



.footernewHomeSectionbottom {
  width: 30%;
  padding: 45px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  color: white;
}

.footernewHomeSectionbottom h4 {
  margin-bottom: 5%;
  text-align: left;
  font-size: 28px;
}

.footerSectionMapdiv {
  width: 18%;
  padding: 21px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  color: white;
}
.footerSectionMapdiv .footerMap {
  border: 1px solid red;
  margin-left: -60%;
  height: 285px;
  margin-top: 22%;
}
.footerMap img {
  border: 1px solid blue;
  width: 100%;
}

.footernewHomeSectionbottom .footernewHomeLogo {
  font-size: 24px;
  margin-top: 0%;
  line-height: 45px;
  font-weight: 800;
  text-transform: uppercase;
}

.footernewHomeLogo img {
  width: 70%;
  margin: 0px 0px;
}

.footernewHomeSectionbottom .footernewHomelogodesc {
  font-size: 13px;
}
.footer-heading {
  font-size: 15px;
  margin-top: 0%;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 22.5px;
  text-transform: uppercase;
}

h4 img {
  border-radius: 56%;
}

.socialmedia div {
  width: 54%;
  height: 40px;
  margin: 20px 0;
  background-color: white;
  border-radius: 20px;
}

.footernewHomeLogo {
  font-size: 32px;
  color: white;
}
.footernewHomeLogo img {
  margin: 0px 3px;
}

.newHomeblogs {
  display: flex;
  column-gap: 12px;
}
.blognewHomeImg {
  width: 75px;
  height: 75px;
}

.newHomeblogsecond {
  padding-top: 1%;
}

.blognewHomeImg img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.blognewHomeText {
  width: 70%;
  text-align: left;
}
.blognewHomeText p {
  margin: 0;
  font-size: 13px;
  color: white;
}
.blognewHomeText p:nth-child(1) {
  color: white;
  margin-top: 5%;
}
.blognewHomeText p:nth-child(1):hover {
  color: rgb(2, 2, 86);
}

.tags {
  display: flex;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}
.tags button {
  border: 1px solid red;
  padding: 6px 21px;
  font-size: 16px;
  background: none;
  border: 1px solid white;
  border-radius: 1px;
  color: white;
}
.tags button:hover {
  background-color: rgba(255, 255, 255, 0.877);
  color: blue;
}

.footerContectText {
  width: 70%;
  text-align: left;
}
.footerContectText p {
  margin: 0;
  padding: 0 10px;
  color: white;
}

.footerContect {
  display: flex;
  column-gap: 5px;
}

.footerContect p {
  text-decoration: none;
  color: white;
  font-size: 13px;
  text-align: left;
  margin: 0;
}

#contactdetails {
  width: 35%;
}

.footerContect {
  font-size: 15px;
}

.contact_number > p {
  margin: 0;
}
.footerContect p:hover {
  color: rgb(2, 2, 86);
}
.footerContect img {
  width: 25px;
  height: 25px;
  filter: invert(1);
}

.contecticonsdiv {
  height: 40px;
}


@media only screen and (min-width: 300px) and (max-width: 800px) {
  .footer {
    flex-direction: column;
  }
  .footernewHomeSectionbottom {
    width: 100%;
  }

  .footernewHomeLogo {
    font-size: 25px;
    color: white;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1400px) {
  .footer {
    flex-direction: column;
  }
  .footernewHomeSectionbottom {
    width: 100%;
  }
} */

/* ------------------------------New Footer ---------------------------------------------- */

.newHomeFootermainDiv {
  /* border:2px solid red; */
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
}
.newHomeFootersectionOne {
  /* border: 2px solid yellow; */
  width: 100%;
  height: 403px;
  display: flex;
  flex-direction: row;
}
.newHomeFooterMapDiv {
  /* border: 2px solid blue; */
  width: 50%;
  height: 403px;
  position: relative;
  background-color: #ffffff;
}
.newHomeFooterMapImage {
  /* border: 2px solid purple; */
  width: 94%;
  height: auto;
  margin-left: 10%;
  object-fit: cover !important;
  /* margin-top: 3%; */
}
.newHomeFooterMapText {
  /* border: 2px solid red; */
  width: 30%;
  height: 80px;
  margin-left: 10%;
  color: #3380f2;
  line-height: 17px;
  margin-top: 1%;
}
.newHomeFooterMapText1 {
  font-weight: 700;
}
.newHomeFooterMapText2 {
  font-size: 15px;
}
.newHomeFooterlinkDiv {
  /* border: 2px solid saddlebrown; */
  width: 50%;
  height: 380px;
}
.newHomeFooterlogoCurrencyDropDown {
  /* border: 2px solid saddlebrown; */
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  /* margin-top: 1% !important; */
}
.newFooterCurrencyDropDown {
  margin-left: 30%;
  margin-top: 2%;
  /* border: 2px solid red; */
  width: 30%;
}

.newFooterCurrencyDropDown h5 {
  color: #3380f2;
  font-size: 15px;
}
.newHomeFootersocialIconsText {
  border: 1px solid white;
  width: 100%;
  height: 125px;
  /* margin: auto; */
  /* margin-top: 1.2%; */
  background-color: #ffffff;
}
.newHomeFootersocialText {
  color: #3380f2;
  width: 80%;
  margin-top: 2%;
  margin-left: 9%;
  /* margin: auto; */
  font-family: 'TT Hoves Variable',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
.footernewHomesocialmedia {
  display: flex;
  width: 50%;
  height: 35px;
  justify-content: center;
  column-gap: 20px;
  margin-top: 2%;
  color: white !important;
  border: 2px solid red;
}
.newHomefooterlinks {
  /* border: 2px solid red; */
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: row;
  /* margin-top: 2%; */
  background-color: #ffffff;
}
.newHomefooterlinks1 {
  /* border: 2px solid green; */
  font-family: 'TT Hoves Variable',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
  font-weight: 400;
  font-size: 13px;
  width: 27%;
  height: 180px;
  color: #3380f2;
  margin-left: 6%;
  cursor: pointer;
}

.newHomefooterlinks1 h5 {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  font-family: 'TT Hoves Variable',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
}

.newHomefooterlinks1 li{
  border: 10x solid red !important;
  font-size: 13.5px;
  font-weight: 500;
}

.newHomeFootersectionTWo {
  /* border: 2px solid green; */
  width: 100%;
  height: 220px;
  line-height: 10px;
}
.newHomeFootersectionLogos {
  /* border: 2px solid black; */
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: column;
  color: #3380f2;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  background-color: #ffffff;
}
.newHomeFootersectionLogos p {
  padding-top: 12px;
  margin-top: 2%;
}
.newHomeFootersectionLogosDiv {
  /* border: 2px solid black; */
  width: 60%;
  margin-top: -1% !important;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.newHomeFooterImages {
  /* border: 2px solid black; */
  width: 25%;
  margin-top: 1%;
  height: 50px;
  column-gap: 5% !important;
}
.newHomeFooterlinkImage {
  /* border: 1px solid red; */
  width: 24%;
  height: 45px;
  margin-top: 3%;
  margin-left: 10%;
  object-fit: cover;
}
.newHomeFootersectionLogosImages {
  border: 2px solid white;
  height: 42px;
  width: 100%;
  gap: 5% !important;
  /* margin-top: 5%; */
  /* object-fit: cover; */
}
.newHomeFootersectionLogosTravelFlap {
  /* border: 1px solid red; */
  height: 90px;
  width: 90%;
  margin: auto;
  margin-top: 1%;
  margin-left: 15%;
  object-fit: cover;
  z-index: 10000;
  /* background-repeat: no-repeat; */
}

.newHomeFootersectionLogosBlueberry {
  border: 1px solid white;
  height: 32px;
  width: 83%;
  margin: auto;
  margin-top: 5%;
  margin-left: 15%; 
  object-fit: cover;
}

.newHomeFootersectionLogosNextHolidays {
  /* border: 1px solid red; */
  height: 28px;
  width: 72%;
  margin: auto;
  margin-top: 3%;
  margin-left: -8%;
  object-fit: cover;
}

.newHomeFootersectionLogosVisaFetch {
  /* border: 1px solid red; */
  height: 40px;
  width: 52%;
  margin: auto;
  margin-top: 2%;
  margin-left: -60%;
  object-fit: cover;
}



.newHomeFooterwavesection {
  width: 100%;
  height: 115px;
  /* border: 2px solid red; */
  z-index: 0;
  background-color: #ffffff;
}
.newHomeFootertextandPayment {
  /* border: 2px solid black; */
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  margin-top: -2%;
  z-index: 1;
}

.newHomeFootercopyrightText {
  color: white;
  font-size: 12px;
  font-weight: 400;
  /* margin-left: 1%; */
  font-family: 'TT Hoves Variable',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
  margin-left: 5%;
}
.newFooterPaymentIamges {
  /* border: 1px solid red; */
  width: 40%;
  height: 50px;
  margin-left: 5%;
  /* object-fit: cover; */
  margin-top: -1.2%;
}

.paymentGatewayGroup{
  border: 1px solid red;
  width: 70% !important;
  left: 5% !important;
}

.newFooterCountryDrop {
  background-color: white !important;
  width: 59% !important;
  height: 30px !important;
  margin-bottom: 3% !important;
  color: #3380f2 !important;
  font-weight: 400 !important;
  font-size: 13px !important;
  cursor: pointer;
  padding-left: 10px;
  padding-top: 2px;
  border: none;
  border-radius: 1px;
}
.newFooterCountryDrop:hover {
  background-color: #3380f2 !important;
  color: white !important;
  font-weight: 700;
  border: 3px solid white !important;
}

/* Tnis css is for the hover part in the global map */

.newYorkLocation {
  position: absolute;
  top: 36%;
  left: 25%;
  width: 25px;
  height: 25px;
  /* background-color: red; */
}
.zambiaLocation {
  position: absolute;
  top: 65%;
  left: 60%;
  width: 25px;
  height: 25px;
  /* background-color: green; */
}
.germanyLocation {
  position: absolute;
  top: 38%;
  left: 53%;
  width: 25px;
  height: 25px;
  /* background-color: purple; */
}

.indiaLocation {
  position: absolute;
  top: 47%;
  left: 69.5%;
  width: 25px;
  height: 25px;
  /* background-color: black; */
}

.uaeLocation {
  position: absolute;
  top: 49.5%;
  left: 62%;
  width: 25px;
  height: 25px;
  /* background-color: maroon; */
}

.tooltipCustomised {
  background-color: #3380f2;
  width: 130px;
  /* height: 80px; */
  box-sizing: border-box;
  padding: 8px;
  border-radius: 5px;
  color: white;
  margin-top: 3%;
  margin-left: -1.5%;
  position: relative;
}

.tooltipCustomised > p {
  font-size: 10px;
  margin: 0;
}

.indicate {
  width: 10px;
  height: 10px;
  position: absolute;
  top: -5px;
  left: 15px;
  transform: rotate(45deg);
  background-color: #3380f2;
}
