.footert{
    position: relative;
}

.footert > div {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-image: url(/public/Images/NewHomeLayout/FooterContent/waveeffectimage.png);
}


.waveContext{
    color: black !important;
    z-index: 1000000000000 !important;
}
