* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
  }
  
  .title-context{
    display: flex;
    width: 37%;
    /* flex: row; */
    /* column-gap: 5%; */
  }

  .title-heading{
    /* border: 1px solid red; */
    width: 100%;
  }

  nav {
    height: 36px;
    background: rgb(53,10,78);
    transition: 0.3s;
  }
  nav.sticky {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
    /* position: sticky; */
    top: 0;
    z-index: 100;
  }
  .nav-inner {
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1105px;
    width: 100%;
    margin: auto;
  }
  .logo {
    color: #fff;
    font-size: 10px;
  }
  .links a {
    color: #fff;
    font-size: 12px;
    margin-right: 30px;
    line-height: 36px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
  }

  .links a:hover{
    color: #fd7e14;
  }
  .banner {
    height: 300vh;
    background: #555;
  }

  .socialmediatop {
    display: flex;
    width: 86%;
    justify-content: center;
    column-gap: 30px;
  }
  .socialmediatop div {
    width: 54%;
    height: 40px;
    margin: 20px 0;
    background-color: white;
    border-radius: 20px;
  }
  .socialIconstop {
    /* border: 1px solid red; */
    /* color: rgb(14, 133, 173); */
    color: #dee2e6;
    font-size: 14px;
    /* border: 1px solid white; */
    /* border-radius: 50%; */
  }
  .socialIconstop:hover {
    color: rgb(77, 77, 204);
  }
  