.otherservicesmaindiv{
    width: 100%;
    height:200px;
    /* border: 2px solid red; */
    margin-top: 2%;
}
.otherservicesheading{
    color: #3380F2;
    /* margin: auto; */
    width: 100%;
    height: 50px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    /* border: 2px solid blue; */
}
.otherservicescontent{
   width: 90%;
   height: 150px;
   margin: auto;
   display: flex;
   flex-direction: row;
   /* border: 2px solid red; */
}
.otherservicesdetailsdiv{
    width: 30%;
    height: 80%;
    /* border: 2px solid gold; */
    display: flex;
    flex-direction: row;
}
.otherservicesimages{
    width: 40%;
    height: 100%;
    /* border: 2px solid green; */
}
.otherservicesdata{
    width: 60%;
    height:100%;
    /* border: 2px solid greenyellow; */
}
.otherservicesreprintheading{
   color: #3380F2;
   font-weight: 700;
   font-size: 20px;
   margin-top: 10%;
}
.otherservicesprintdetails{
    font-weight: 700;
}