/* .row>* {
    max-width: 96%;
    width: 95%;
} */
/* 
.main-form{
    border: 1px solid black;
    background-color: rgb(197,120,137);
    height: 100px;
} */

.text-info {
    /* color: RGB(255, 255, 255);/ */
    color: azure;
    font-size: 23px;
    font-family: "Open Sans", sans-serif;
}



.middleForm{
    /* background: linear-gradient(45deg, #3408F3, #c0d3e7); */

    background: #3380f2;
    height: 450px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
}



.mt-4{
    margin-top: 0% !important;
}
.belowrow{
    /* position: relative; */
    /* position: fixed; */
    width: 100%;

}
.belowformButton {
   
    /* background: linear-gradient(45deg, #3408f3, #c0d3e7); */
    background-color: #3153f2;
    font-size: 15px;
    font-weight: 600;
    border: none;
    color: white;
    border-radius: 25px;
    padding: 8px 31px;
    width: 131%;

    
}
.trevButton:hover {
    /* background: #6949ad; */
    background: blue;
    
}

.form-label {
    color: white;
    font-size: 18px;
}

.checkbox_main{
    /* border: 1px solid red; */
    width: 96%;
}
.checkboxes_div{
    padding: 38px 0px;
    justify-content: center;
    margin-top: 3%;
    margin-left: 4%;
}


.checkbox1{
    /* border: 1px solid red !important; */
    width: 17%;
}

.checkbox2{
    width: 16.7%;
}
.checkbox3{
    width: 16.5%;
}

.checkbox4{
    width: 19%;
}

.checkbox5{
   
    width: 17%;
}

.checkbox6{
    padding: 15px;
    width: 17%;
}

.checkbox7{
    width: 16.5%;
}

/* Hover Property for the checkboxes */

.checkbox1:hover{
    color: white;
}

.checkbox2:hover{
    color: white;
}

.checkbox3:hover{
    color: white;
}

.checkbox4:hover{
    color: white;
}

.checkbox5:hover{
    color: white;
}

.checkbox6:hover{
    color: white;
}

.checkbox7:hover{
    color: white;
}

.checkbox8:hover{
    color: white;
}

.cards_button button {
    /* border: 1px solid red; */
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    padding: 18px 25px;
    margin-top: 14%;
    color: white;
    background: rgb(51,128,242);
    
    width: 74%;
}

.cards_button button:hover{
    background: #3206f1;
} 

.offersbutton_div{
    width: 50%;
}

.offersform_button button {
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    padding: 16px 25px;
    color: white;
    background: #3206f1;
   
    margin-left: 8%;
    width: 21%;
}

.offersform_button button:hover{
     background: rgb(6, 6, 124);
}
@media only screen and (min-width: 300px) and (max-width: 780px) {

    .trevForm{
        height: 453px !important;
        align-items: center;
        padding: 19px;
    }

    .col-3{
        width: 50% !important;
    }
    .trevButton{
        margin-top: 3%;
    }
}


@media only screen and (min-width: 300px) and (max-width: 780px) {

    .trevForm{
        height: 400px;
        align-items: center;
    }

    .trevButton{
        margin-top: 3%;
    }
}