.CountryDataFetchTestContainerDiv{
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    margin-top: 10%;
    margin: auto;
    background-color: #3380F2;
    overflow-y: scroll;
}
.CountryDataFetchNames{
    border: 1px solid lightgray;
    color: white;
    width: 100%;
    margin: auto;
    font-size: 17px;
    font-weight: 700;
    text-align: left;
    padding-left: 15px;
    margin-top: 2%;
}
.CountryDataFetchNames:hover{
    background-color: white;
    color: #3380F2;
    cursor: pointer;
}
.CountryDataFetchImage{
    width: 40px;
    height: 40px;
    margin-bottom: 5%;
    /* border: 2px solid red; */
}