.newwhyChoosemaindiv{
  /* border: 2px solid red; */
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  background-color: #F3F7FA;
}
.newwhychooseheading{
  color: #393939;
  font-size: 25px;
  font-weight: 700;
  /* border: 2px solid red; */
  width: 100%;
  text-align: center;
  margin-top: 2%;
  /* margin: auto; */
}
.newwhychooseOptions{
  /* border: 2px solid red; */
  width:100%;
  height:300px;
  display: flex;
  flex-direction: row;
}
.newwhychooseOptions1{
  /* border: 2px solid gold; */
  width: 33%;
  height: 300px;
  display: flex;
  flex-direction: column;
}
.newWhychooseIcon1{
  /* border: 2px solid green; */
  width: 30%;
  height: 150px;
  margin-left: 35%;
  margin-top: 5%;
  border-radius: 50%;
  background-color: white;
}
.newWhychooseIcon1 img{
  width: 60%;
  height: 90px;
  margin: 20%;
}
.newWhychooseContent{
  text-align: center;
  color: #393939;
}
.newWhychooseContent h4{
  font-weight: 700;
  font-size: 20px;
}
.newWhychooseContent p{
  font-size: 15px;
}