/* .hotelBookingPageBannerOuterDiv {
  border: 1px solid red;
} */

.hotelBookingImageContentWrapper {
  /* border: 1px solid green; */
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  /* margin-top: 5%; */
}

.hotelBookingBannerImageDiv {
  /* border: 2px solid black; */
  width: 50%;
  margin-top: 1%;
}

.hotelBookingBannerImageDiv img {
  width: 100%;
  height: auto;
  /* margin-left: 5%; */
}

.hoteBookingContextDiv {
  /* border: 2px solid red; */
  width: 50%;
  margin-left: 1%;
  margin-top: 2%;
}

.hotelBookingCalenderOuterDiv{
  /* border: 1px solid red; */
  /* height: 100px; */
  display: flex;
  width: 50%;
  flex-direction: row;
}

#hotelBooking_departure {
  border: 2px solid #dddddd78;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  width: 117%;
  color: black !important;
  background-color: #dddddd78 !important;
  border-radius: 5px;
  height: 40px !important;
  /* border: 2px solid lightgray; */
  border-radius: 6px;
  margin-top: 0%;
}

.hotelBookingGuestIcon {
  /* border: 1px solid red; */
  font-size: 23px;
  margin-left: 4% !important;
  margin-top: 3% !important;
  /* background-color: #dddddd78 !important; */
  color: black !important;
  /* background-color: #8DBBFF; */
}


#hotelBooking_departure h3 {
  /* border: 1px solid black; */
  font-size: 15px !important;
  /* font-weight: 700; */
  /* margin-left: -7%; */
  padding: 7px;
  color: grey !important;
  padding-left: 15px !important;
  padding-top: 4%;
  margin-top: 0.5%;
  /* height: 35px;
  border: 2px solid lightgray;
  border-radius: 6px;
  margin-top: 8%; */
}

#hotelBooking_departure:hover .hotelBoookingdropdown_content {
  display: block;
}

.hotelBoookingdropdown_content {
  display: none;
  position: absolute;
  color: white;
  background-color: #3380f2 !important;
  width: 200px;
  height: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 2.6%;
}
.hotelBoookingdropdown_content div:hover {
  background-color: white !important;
  color: #3380f2;
}

.navbarHotelBookingPageOptions {
  margin-top: 2%;
  padding-top: 12px;
  padding-bottom: 12px;
  /* border: 2px solid red; */
}

.hotelBookingCalenderInnerDiv{
  /* border: 1px solid black; */
  width: 50%;
}

.hotelBookingCalenderInnerDiv input{
  /* margin-left: 45%;   */
  border-radius: 5px;
  height: 40px;
  background-color: #dddddd78;
  border: none !important;
  padding-left: 10px;
}

/* .hotelBookingCalenderInnerDiv input::placeholder{
 
} */

.hotelBookingPersonsInnerDiv{
  /* border: 1px solid green; */
  width: 50%;
  margin-left: 3%;
}

/* .hotelBookingHotelContentDiv{
    border: 1px solid red;
} */

.hotelBookinHotelName {
  /* border: 1px solid black; */
  margin-top: 4%;
  height: 100px;
  display: flex;
  flex-direction: row;
}

.hotelBookingHotelHeading {
  /* border: 1px solid red; */
  width: 40%;
}

/* .hotelBookingHotelInfoDiv{
    border: 1px solid red;
} */

.hotelBookingRatingDiv {
  /* border: 1px solid red; */
  margin-top: -4%;
  height: 60px;
  display: flex;
  flex-direction: row;
}

.hotelBookingRatingNumber h3 {
  font-size: 35px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 40%;
}

/* .hotelBookingHotelReview{
    border: 1px solid green;
} */

.hotelBookingHotelReview p {
  /* border: 1px solid black; */
  row-gap: -5px !important;
  font-size: 11px;
  font-weight: 600;
  margin-top: 10%;
}

.miniContext {
  margin-top: -14% !important;
}



/* .hotelBookingPriceDiv {
  border: 1px solid red;
} */

.hotelBoookingPriceDisplayInnerDiv {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
}

.hotelBookingPriceDisplayDiv h3{
  font-size: 35px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 40%;
}

.hotelBookingPriceDescription p{
    /* border: 1px solid red; */
    font-size: 11px;
    font-weight: 600;
    margin-top: 30%;
}

.hotelBookingButton{
  /* border: 1px solid red !important; */
  margin-top: 4%;
  margin-left: 10%;
  width: 50%;
}

.hotelBookingButton button{
  width: 40%;
  padding-left: 28px;
}

.miniContextPrice{
    /* border: 1px solid red; */
    margin-top: -1% !important;
}






