#filter-newCruisePageTrave-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  margin: auto;
  top: 46%;
  background-color: white;
  width:61%;
  color: #3380f2 !important;
  height: 130px;
  left: 20.2%;
  border-radius: 10px;
  position: absolute !important;
  z-index: 10;
}

.newCruisesearchbutton{
  background-color: #3380f2;
  color: white;
  border: none;
  width: 14%;
  height: 45px;
  border-radius: 10px;
  font-weight: 700;
  margin-left: 13%;
  margin-top: -3.5%;

}

.newCruisesearchbutton:hover{
  background-color: white;
  border: 2px solid #3380f2;
  color: #3380f2;
}

.newCruise_checkmark {
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
  margin-top: 2.5%;
  height: 20px;
}

.flights_newCruisecheckbox {
  margin-left: 5%;
  margin-bottom: -0.5%;
  margin-top: -2%
}
.flights_newCruisecheckbox1 {
  margin-left: 0.5%;
  margin-top: -1.4%;
  font-size: 15px;
  color: #3380f2;
}

.newCruiseCountrySelect{
  display: flex;
  flex-direction: row;
}
.newCruiseCountryDrop{
  width: 25% !important;
  border: 1px solid #3380f2 !important;
  border-radius: 0px !important;
  color: #3380f2 !important;
  margin: 2% !important;
  margin-left: 3% !important;
}
.newCruiseCityDrop{
  width: 25% !important;
  border: 1px solid #3380f2 !important;
  border-radius: 0px !important;
  color: #3380f2 !important;
  margin: 2% 1.5% 0 0;
  height: 39px;
}
.newCruiseCategoryDrop{
  width: 25% !important;
  border: 1px solid #3380f2 !important;
  border-radius: 0px !important;
  color: #3380f2 !important;
  margin: 2% 1.5% 0 0;
  height: 39px;
}