.InclusionDescriptionMainDiv{
    width:58%;
    margin-left:6%;
}

.InclusionDescriptionMainDiv h2{
    text-align:left;

}

.InclusionDescriptionMainDiv p{
    text-align:left;
}
.InclusionDescriptionDiv1{
    width:58%;
    margin-left:6%;
}

.InclusionDescriptionDiv1 h2{
    text-align:left;
}

.InclusionDescriptionDiv1 p{
    text-align:left;
    margin-left:2%;
}
.InclusionDescriptionDiv2{
    width:58%;
    margin-left:6%;
}

.InclusionDescriptionDiv2 h2{
    text-align:left;
}

.InclusionDescriptionDiv2 p{
    text-align:left;
    margin-left:2%;
}

.InclusionDescriptionDiv3{
    width:58%;
    margin-left:6%;
}
.InclusionDescriptionDiv3 h2{
    text-align: left;
}
.InclusionDescriptionDiv3 p{
    text-align:left;
    margin-left:2%;
}