/* .statedop1{
    border: 1px solid red;
    width: 20%;
} */

/* .statedrop1header{
    border: 1px solid blue;
} */

.statedroptexts{
    width: 100%;
}

.accordion-button{
    z-index: 0 !important;
}