*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
 font-family: 'TT Hoves Variable',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;;
}



/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.myreact-icons {
  color: red;
  height: 2em;
}

.App{
  position: absolute;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbarsec{
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.cor{
  position: relative;
  top: 0;
  z-index: -1;
}


