.PopularDestinationCardImage img{
    width:100%;
    overflow: hidden;
    height:600px;
}

.PopularDestinationHeadline{
    color:White;
    font-weight:700;
    font-size:48px;
    text-align:left;
    position:absolute;
    top:18%;
    left:5%;
}

.PopularDestinationDetails p{
    font-size:24px;
    color:white;
    position:absolute;
    top:32%;
    left:5%;
    text-align:left;

}