.HolidayPageButtonMainDiv{
    margin-left:-26%;
    margin-top: 3%;
}
.HolidayButton{
    width:12%;
    padding: 3px;
    font-size:medium;
    height:40px;
}
.HolidayButton1{
    width:12%;
    padding: 3px;
    font-size:medium;
    height:40px;
    background-color:#3380f2;
    border:none;
}