.popularDestinationsheadingdiv{
  color: #3380F2;
  height: 120px;
  font-size: 35px;
  font-weight: 700;
  margin-top: 2%;
  width: 100%;
  /* border: 2px solid red; */
  padding-left: 5%;
  display: flex;
  flex-direction: column;
}

.newHomePopularDestinationsDropContainer{
  border: 1px solid red !important;
  display: flex !important;
  flex-direction: row;
}

.newHomePopularDestinationsDropContainer{
  width: 20%;
  margin-left: 56%;
  margin-top: 0% !important;
}

.popularDestinationsselectoptions{
  /* border: 2px solid gold; */
  width: 90%;
  margin: auto;
  height: 60px;
  display: flex;
  flex-direction: row;
}
.popularDestinationselect1{
  border: none;
  border-bottom: 2px solid #3380F2;
  margin-left: 15%;
  color: #3380F2;
  font-size: 25px;
  font-weight: 500;
  width: 14%;
}
.populardestinationselectdiv{
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: row;
  width: 40%;
  margin-left: 35%;
}

.popularDestinationselect2{
  border: 2px solid #3380F2;
  background-color: #3380F2;
  color: white;
  width:27%;
  margin-left: 69%;
  font-size: 23px;
  height: 40px;
  outline: none !important;
  border-radius: 25px 0px 0px 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-left: 1.5%;
  padding-right: 1.5% !important;
  text-decoration: none;
  font-weight: 500;
  /* appearance: none; */
}
.populardestinationsicon{
  width: 10%;
  color: white;
  /* border: 2px solid black; */
  background-color: #3380F2;
  height: 50px;
  font-size: 18px !important;
  border-radius: 0px 25px 25px 0px;
  padding-right: 5%;
}
/* .popularDestinationselect2{
  border: 2px solid #3380F2;
  outline: none;
  background-color: #3380F2;
  color: white;
  width:35%;
  font-size: 23px;
  height: 50px;
  border-radius: 25px 0px 0px 25px;
  padding-left: 1.5%;
  padding-right: 1.5% !important;
  text-decoration: none;
  font-weight: 500;
  appearance: none;
} */
/* .populardestinationsicon{
  color: white;
  background-color: #3380F2;
  height: 50px;
  font-size: 18px !important;
  right: 5% !important;
  border-radius: 0px 25px 25px 0px;
} */
 .mainCarouselDiv {
  width: 100%;
  height: 500px;
  /* border: 2px solid green; */
  /* background-color: green; */
  position: relative;
  margin-bottom: 7%;
}

.sliderDiv{
    width: 98%;
    height: 400px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 53%;
    left: 50%;
    /* border: 2px solid gold; */
}
.div3d{
    background-color: blueviolet;
    width: 300px;
    /* height: 400px; */
    /* margin: 10px; */
}

.populardestinationsslide{
    width: 105% !important;
    /* filter: brightness(0.8); */
    height: 410px;
    /* border: 2px solid red; */
    transform: scale(0.8);
    transition: .7s;
    /* filter: blur(2px); */
    border-radius: 20px;
}

.populardestinationsslide>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    /* filter: blur(2px); */
    /* margin-left: 5%; */
}
.populardestinationsslide>h5{
    padding: 5px;
    text-align: center;
    color: #3380F2;
    font-weight: 700;
    font-size: 25px;
}

.populardestinationsslide-active{
    width: 105% !important;
    height: 420px;
    filter: blur(0);
    opacity: 1;
    transform: scale(1);
    /* border: 2px solid red; */
    border-radius: 20px;
}
/* .populardestinationsslide-active>img{
  filter: blur(0);
} */
